.discover__item {
    display: block;
    text-align: left;
    color: #e7faff;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 116%;
    font-family: Poppins;
    text-transform: capitalize;
    text-decoration-line: underline;
    letter-spacing: .05em;
    cursor: pointer;
}
.slider-3 .swiper-slide {
    border-radius: 1rem;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .discover__item {
        text-align: left;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 116%;
    }
}

@media only screen and (max-width: 35.49em) {
    .discover__item {
        display: none;
    }
    .slider-3 .swiper-slide {
        display: none;
    }
}