.slider-4 {
    height: 25rem;
    width: 20.8rem;
    user-select: none;
    .swiper-container {
        width: 100%;
    }
    .swiper-wrapper {
        width: 100%;
    }
    .swiper-slide {
        border-radius: 1rem;
    }
    .swiper-scrollbar, .swiper-scrollbar-vertical {
        background: #223a54;
    }
}
@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .slider-4 {
        width: 21.4rem;
    }
}

@media only screen and (max-width: 35.49em) {
    .slider-4 {
            width: 0;
            height: 0;
        .swiper {
            width: 0;
            height: 0;
        }
        .swiper-container {
            display: none;
        }
        .swiper-wrapper {
            display: none;
        }
        .swiper-slide {
            display: none;
        }
    }
}