.logos__img {
    text-align: center;
    margin: 0 auto;
    width: 11.2rem;
    height: 7.8rem;
    & img {
        object-position: center;
    }
}
@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .logos__img {
        width: 10.4rem;
        height: 6.3rem;
        margin-bottom: 5.8rem;
    }
}

@media only screen and (max-width: 35.49em) {
    .logos__img {
        width: 17.1rem;
        height: 10.4rem;
        margin-bottom: 6.2rem; 
    }
}