.slider-1__title {
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: translate(-50%, 0);
    @include font (500, 2.4rem, 117%);
    color: #FFFFFF;
    font-family: 'Ubuntu';
    margin-bottom: 1rem;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .slider-1__title {
        @include font (500, 1.8rem, 117%);
        top: 1.5rem;
    }
}

@media only screen and (max-width: 35.49em) {
    .slider-1__title {
        @include font (500, 4.2rem, 116%);
        top: 3.5rem;
        margin-bottom: 0;
    }
}