.header__back-mob--wrap {
    @include vert-c;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .header__back-mob--wrap {
        margin-top: 1.8rem;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 35.49em) {
    .header__back-mob--wrap {
        border-bottom: 0.2rem solid #DCE6FF;
        padding-right: 3.4rem;
        padding-left: 3.4rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        margin-left: -3.26rem;
        margin-right: -3.26rem;
    }
}

