.amount-prop__box-2 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(50%, 50%);
    width: 0.4rem;
    height: 0.4rem;
    background: #4185E9;
    transform: rotate(-45deg);
}