.form__title {
    text-align: left;
    @include font (500, 2.4rem, 117%);
    color: #333333;
    font-family: 'Ubuntu';
    margin-bottom: 1.3rem;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .form__title {
        @include font (500, 2.2rem, 114%);
    }
}

@media only screen and (max-width: 35.49em) {
    .form__title {
        @include font (500, 4rem, 115%);
        margin-bottom: 2.7rem;
    }
}