.sales-block__search-input {
    width: 28.7rem;
    padding: .8rem 1rem .9rem;
    margin-right: 2rem;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .sales-block__search-input {
        width: 100%;
        padding: .8rem 1rem .9rem;
        margin-bottom: 1.2rem;
    }
}

@media only screen and (max-width: 35.49em) {
    .sales-block__search-input  {
        width: 100%;
        padding-top: 2rem;
    }
}

