.lists__title {
    text-align: left;
    color: #E7F0FD;
    @include font (700, 2.4rem, 117%); 
    font-family: 'Ubuntu';
    text-transform: capitalize;
    margin-bottom: 4.5rem;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .lists__title {
        text-align: left;
        @include font (700, 2.2rem, 114%);
        margin-top: 5.8rem;
        margin-bottom: 6.3rem;
    }
}
    
@media only screen and (max-width: 35.49em) {
    .lists__title {
        text-align: center;
        @include font (700, 3.2rem, 116%);
        margin-bottom: 4.4rem;
    }
}