.register__button {
    @include font (500, 1.6rem, 150%);
    font-family: 'Poppins';
    color: #FFFFFF;
    background: #1266E3;
    padding: 1.1rem 1.9rem;
    letter-spacing: 0.01em;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem -1rem rgba(24, 33, 255, 0.6);
    cursor: pointer;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .register__button {
        @include font (500, 1.5rem, 147%);
        padding: 1rem 1.8rem;
    }
}

@media only screen and (max-width: 35.49em) {
    .register__button {
        @include font (400, 2.3rem, 150%);
        border-radius: 1.4rem;
        padding: 1.6rem 2.7rem;
        margin: 0 auto;
    }
}