.backbar__title {
    text-align: left;
    @include font (500, 2.4rem, 117%);
    color: #E7F0FD;
    font-family: 'Ubuntu';
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .backbar__title {
        @include font (500, 2.2rem, 114%);
    }
}

@media only screen and (max-width: 35.49em) {
    .backbar__title {
        @include font (500, 4.2rem, 116%);
        color: #191919;
        text-align: center;
    }
}