.slider-1__btnnext {
    width: 2.7rem;
    height: 4.3rem;
    position: absolute;
    right: 1.9rem;
    top: 45%;
    z-index: 1000;
    display: none;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .slider-1__btnnext {
        display: none;
    }
}

@media only screen and (max-width: 35.49em) {
    .slider-1__btnnext {
        display: block;
        user-select: none;
    }
}