.clients__title {
    margin: 0 auto;
    width: 86.9rem;
    text-align: center;
    @include font (700, 4.4rem, 116%);
    color: #333333;
    font-family: 'Ubuntu';
    margin-bottom: 2.6rem;
    text-transform: uppercase;
}

@media only screen and (min-width: 35.5em) and (max-width: 54.99em) {
    .clients__title {
        width: 100%;
        @include font (700, 3rem, 113%);
    }
}

@media only screen and (max-width: 35.49em) {
    .clients__title {
        width: 100%;
        @include font (700, 4.6rem, 115%);
        margin-bottom: 3.6rem;
    }
}